/* OVERRIDES */
.fa {
    margin-right: 15px;
}

/* END OF OVERRIDES */

/* GENERAL */

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #2196F3;
    box-shadow: 1px 0px 5px rgba(50, 50, 50, 0.75);
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    border-bottom: 1px black;
}

.nav-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

.nav-ul li a:hover {
    background-color: #62AAF7;
    cursor: pointer;
}

.nav-ul a:focus, .active {
    background-color: #62AAF7;
}

.nav-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: inherit;
    color: white;
}

#content-container {
    position: relative;
    margin-left: 175px;
    margin-top: 30px;
    margin-right: 25px;
    overflow-x: scroll;
}

.content {
    display: none;
}

.content-title {
    font-size: 24px;
}

/* END GENERAL */

/* CACHES */
/* CACHES: OVERRIDES */
.btn {
    margin-bottom: 15px;
}
.btn-primary {
    width: 15%;
    min-width: 175px;
}
/* END CACHES: OVERRIDES */
#searchCache {
    width: 80%;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 5px;
    margin-bottom: 12px;
}

.cacheList {
    padding-left: 0;
    list-style-type: none;
}
.cacheListItem {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: white;
    min-width: 500px;
}

.cacheListItem:hover {
    cursor: pointer;
}

.cache-name > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cache-meta {
    float: right;
    font-size: 13px;
    font-style: italic;
    margin: 0;
    color: gray;
}


/* END CACHES */

/* SETTINGS */
.btn-danger {
    position: relative;
    width: 70%;
    align: center;
    border-radius: 3px;
    border-width: 0;
    outline: none;
    font-size: 12px;
    background-color: #D32F2F;
    color: white;
    line-height: 25px;
    margin: 5px;
    transition: 0.3s;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}

.btn-danger:hover {
    background-color: #EF5350;
    cursor: pointer;
}

.btn-danger:active {
    transition: 0s;
    background-color: #D32F2F;
}
/* END SETTINGS */
