/* OVERRIDES */

body {
    min-width: 175px;
    min-height: 300px;
    margin: 0;
}

.fa {
    margin-right: 5px;
}

.alertify .dialog {
    padding: 0;
}

.alertify .dialog > * {
    max-width: 100%;
    padding: 0;
}

.alertify .dialog nav {
    text-align: center;
}

.alertify-logs>* {
    padding: 0;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    border-radius: 1px;
}
.alertify-logs>*,
.alertify-logs>.default {
    background: rgba(0, 0, 0, .8);
}
.alertify-logs>.error {
    background: rgba(244, 67, 54, .8);
}
.alertify-logs>.success {
    background: rgba(76, 175, 80, .9);
}

.alertify-logs.left, .alertify-logs:not(.right) {
    left: 0;
    top: 27px;
}

.btn-primary {
    width: 70%;
}
/* END OF OVERRIDES */

#container {
    margin: 0;
}

#banner {
    min-height: 30px;
    margin-top: 0px;
    padding: 5px;
    background-color: #2196F3;
    color: white;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0.2px 5px rgba(50, 50, 50, 0.75);
}

#recent {
    min-height: 210px; /* 50% of 300 */
}

#options {
    min-height: 90px; /* 40% of 300 */
    text-align: center;
}
