<!doctype html>

<html>
    <head>
        <title>Dashboard - TabCache</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/shared.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>

    <body>
        <div class="container">
            <div class="nav-container">
                <ul id="nav" class="nav-ul">
                    <li><a id="nav-home"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                    <li><a id="nav-settings"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
                    <li><a id="nav-about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a></li>
                </ul>
                <div class="nav-footer">
                    <h1>TabCache</h1>
                </div>
            </div>
            <div id="content-container">
                <div id="content-home" class="content">
                    home
                </div>
                <div id="content-settings" class="content">
                    settings
                </div>
                <div id="content-about" class="content">
                    about
                </div>
            </div>
        </div>
    </body>

    <script src="../js/main.js"></script>
</html>
