<!doctype html>

<html>
    <head>
        <title>Dashboard - TabCache</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/shared.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>

    <body>
        <div class="container">
            <div class="nav-container">
                <ul id="nav" class="nav-ul">
                    <li><a id="nav-caches"><i class="fa fa-folder" aria-hidden="true"></i>Caches</a></li>
                    <li><a id="nav-settings"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
                    <li><a id="nav-about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a></li>
                </ul>
                <div class="nav-footer">
                    <h1>TabCache</h1>
                </div>
            </div>
            <div id="content-container">
                <!-- CACHES -->
                <div id="caches" class="content">
                    <div class="cache-list-container">
                        <span class="content-title">Caches</span>
                        <hr>
                        <div class="cache-toolbar">
                            <button class="btn btn-primary">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>SAVE CURRENT TABS
                            </button>
                            <br>
                            <i class="fa fa-search" aria-hidden="true"></i><input type="text" id="searchCache" placeholder="Search for a cache..">
                        </div>
                        <ul id="cache-list">
                        </ul>
                    </div>
                </div>

                <!-- SETTINGS -->
                <div id="settings" class="content">
                    <span class="content-title">Settings</span>
                    <hr>
                    Storage used: <span id="storage-used"></span> bytes
                    <br>
                    <button id="removeAll" class="btn-danger">
                        Clear All Caches
                    </button>
                </div>

                <!-- ABOUT -->
                <div id="about" class="content">
                    <span class="content-title">About</span>
                    <hr>
                    <p>
                        TabCache is a browser session manager for Google Chrome.
                    </p>
                </div>
            </div>
        </div>
    </body>

    <script src="../assets/alertify/alertify.js"></script>
    <script src="../assets/lz-string.min.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/main.js"></script>
</html>
